Repository plantuml/plantuml, pull requests merged in 2023-12, with the labels that each got.

#1619 docs: improve `@deprecated` description
  src/net/sourceforge/plantuml/Option.java
  src/net/sourceforge/plantuml/SourceStringReader.java
  src/net/sourceforge/plantuml/core/UmlSource.java
Labels: m:source

#1618 test: Use XMLUnit to compare XMI
  build.gradle.kts
  plantuml-asl/build.gradle.kts
  plantuml-epl/build.gradle.kts
  plantuml-gplv2/build.gradle.kts
  plantuml-lgpl/build.gradle.kts
  plantuml-mit/build.gradle.kts
  test/nonreg/xmi/XmiTest.java
Labels: m:gradle, m:test

#1624 fix and test refactor: on `GetJsonKey`, `Chr` and `Ord`
  src/net/sourceforge/plantuml/tim/stdlib/Chr.java
  src/net/sourceforge/plantuml/tim/stdlib/GetJsonKey.java
  test/net/sourceforge/plantuml/tim/stdlib/ChrTest.java
  test/net/sourceforge/plantuml/tim/stdlib/GetJsonKeyTest.java
  test/net/sourceforge/plantuml/tim/stdlib/OrdTest.java
Labels: m:source, m:test
