Repository plantuml/plantuml, pull requests merged in 2023-09, with the labels that each got.

#1530 fix: Adds copy task for graphviz.dat to epl build
  plantuml-epl/build.gradle.kts
Labels: m:gradle

#1539 test: add some unit tests of `tim/stdlib` functions
  test/net/sourceforge/plantuml/test/JunitUtils.java
  test/net/sourceforge/plantuml/tim/TimTestUtils.java
  test/net/sourceforge/plantuml/tim/stdlib/AlwaysFalseTest.java
  test/net/sourceforge/plantuml/tim/stdlib/AlwaysTrueTest.java
  test/net/sourceforge/plantuml/tim/stdlib/Dec2hexTest.java
  test/net/sourceforge/plantuml/tim/stdlib/FeatureTest.java
  test/net/sourceforge/plantuml/tim/stdlib/GetJsonKeyTest.java
  test/net/sourceforge/plantuml/tim/stdlib/GetJsonTypeTest.java
  test/net/sourceforge/plantuml/tim/stdlib/Hex2decTest.java
  test/net/sourceforge/plantuml/tim/stdlib/LowerTest.java
  test/net/sourceforge/plantuml/tim/stdlib/SizeTest.java
  test/net/sourceforge/plantuml/tim/stdlib/UpperTest.java
  test/net/sourceforge/plantuml/tim/stdlib/_TemplateStdlibTest.template
Labels: m:source

#1544 chore: add new labels for `PR` [no CI]
  .github/labeler.yml
Labels: m:workflow
