Repository plantuml/plantuml, pull requests merged in 2023-07, with the labels that each got.

#1471 Add building differently licensed plantuml versions (#1336)
  .github/workflows/ci.yml
  settings.gradle.kts
Labels: m:workflow, m:gradle

#1473 Adapt workflows to release the differently licensed plantuml versions
  .github/scripts/release-snapshot.sh
  .github/scripts/release.sh
  .github/workflows/native-image.yml
Labels: m:workflow, m:native

#1472 Add reading remote style files from URLs (Fix #1470)
  src/net/sourceforge/plantuml/style/CommandStyleImport.java
Labels: m:source

#1456 Java20
  .gitignore
  gradle/wrapper/gradle-wrapper.properties
  src/net/sourceforge/plantuml/Splash.java
  src/net/sourceforge/plantuml/security/SURL.java
  test/net/sourceforge/plantuml/picoweb/PicoWebServerTest.java
  test/net/sourceforge/plantuml/security/SURLTest.java
Labels: m:gradle, m:source

#1489 Patch for #1467
  src/net/sourceforge/plantuml/abel/Link.java
  src/net/sourceforge/plantuml/abel/LinkArg.java
  src/net/sourceforge/plantuml/svek/Kal.java
  src/net/sourceforge/plantuml/svek/SvekNode.java
Labels: m:source

#1487 feat: add `ord` builtin function
  src/net/sourceforge/plantuml/tim/TContext.java
  src/net/sourceforge/plantuml/tim/stdlib/Ord.java
Labels: m:source

#1490 Patch #1467
  src/net/sourceforge/plantuml/svek/SvekNode.java
Labels: m:source

#1497 fix: `ord` builtin function: allow Unicode values, add test
  src/net/sourceforge/plantuml/tim/stdlib/Ord.java
  test/net/sourceforge/plantuml/tim/stdlib/OrdTest.java
Labels: m:source

#1502 refactor: use `CSV Source` for Math and UrlBuilder tests, test: add tests for the builtin function `%chr`
  test/net/sourceforge/plantuml/UrlBuilderTest.java
  test/net/sourceforge/plantuml/math/Math01Test.java
  test/net/sourceforge/plantuml/math/Math02Test.java
  test/net/sourceforge/plantuml/math/Math03Test.java
  test/net/sourceforge/plantuml/math/Math04Test.java
  test/net/sourceforge/plantuml/math/Math05Test.java
  test/net/sourceforge/plantuml/math/Math06Test.java
  test/net/sourceforge/plantuml/math/Math07Test.java
  test/net/sourceforge/plantuml/math/Math08Test.java
  test/net/sourceforge/plantuml/math/Math09Test.java
  test/net/sourceforge/plantuml/math/MathTest.java
  test/net/sourceforge/plantuml/tim/stdlib/ChrTest.java
  test/net/sourceforge/plantuml/url/UrlBuilderTest.java
Labels: m:source
