Repository plantuml/plantuml, pull requests merged in 2023-11, with the labels that each got.

#1603 docs: improve doc (JavaDoc, GH) [`package-info.java`, `readme.md`] (for `Smetana`, `API/CheerpJ`)
  src/com/plantuml/api/cheerpj/package-info.java
  src/com/plantuml/api/cheerpj/readme.md
  src/gen/package-info.java
  src/gen/readme.md
  src/h/package-info.java
  src/h/readme.md
  src/smetana/core/package-info.java
  src/smetana/core/readme.md
Labels: m:source

#1605 docs: improve doc (JavaDoc, GH) [`package-info.java`, `readme.md`] (for External code)
  src/ext/plantuml/com/ctreber/acearth/package-info.java
  src/ext/plantuml/com/ctreber/acearth/readme.md
  src/ext/plantuml/com/google/zxing/package-info.java
  src/ext/plantuml/com/google/zxing/readme.md
  src/h/package-info.java
  src/jcckit/package-info.java
  src/jcckit/readme.md
  src/org/stathissideris/ascii2image/core/package-info.java
  src/org/stathissideris/ascii2image/core/readme.md
  src/smetana/core/package-info.java
Labels: m:source

#1607 docs: improve doc (JavaDoc, GH) [`package-info.java`, `readme.md`] (for flowdiagram, color, creole, sprite)
  src/net/sourceforge/plantuml/acearth/package-info.java
  src/net/sourceforge/plantuml/acearth/readme.md
  src/net/sourceforge/plantuml/ditaa/package-info.java
  src/net/sourceforge/plantuml/flashcode/package-info.java
  src/net/sourceforge/plantuml/flashcode/readme.md
  src/net/sourceforge/plantuml/flowdiagram/package-info.java
  src/net/sourceforge/plantuml/flowdiagram/readme.md
  src/net/sourceforge/plantuml/klimt/color/package-info.java
  src/net/sourceforge/plantuml/klimt/color/readme.md
  src/net/sourceforge/plantuml/klimt/creole/package-info.java
  src/net/sourceforge/plantuml/klimt/creole/readme.md
  src/net/sourceforge/plantuml/klimt/sprite/package-info.java
  src/net/sourceforge/plantuml/klimt/sprite/readme.md
  src/org/stathissideris/ascii2image/readme.md
  src/zext/plantuml/com/ctreber/acearth/package-info.java
  src/zext/plantuml/com/ctreber/acearth/scanbit/ScanBit.java
  src/zext/plantuml/com/ctreber/readme.md
Labels: m:source

#1613 feat: Allow JSON Array on JSON preproc. (affectation on plantuml variable, on foreach, ...)
  src/net/sourceforge/plantuml/tim/Eater.java
  src/net/sourceforge/plantuml/tim/VariableManager.java
  test/net/sourceforge/plantuml/tim/EaterTest.java
Labels: m:source, m:test

#1616 Feat: Adding SUPPORT.md file
  docs/SUPPORT.md
Labels: m:docs
