Repository plantuml/plantuml, pull requests merged in 2024-04, with the labels that each got.

#1724 Avoid NPE when a remote input stream cannot be read (while reading a remote style file)
  src/net/sourceforge/plantuml/style/CommandStyleImport.java
Labels: m:source

#1727 fix json and yaml
  themes/puml-theme-sunlust.puml
Labels: m:source

#1731 feat: add `%splitstrregex` builtin function
  src/net/sourceforge/plantuml/tim/TContext.java
  src/net/sourceforge/plantuml/tim/stdlib/SplitStrRegex.java
  test/net/sourceforge/plantuml/tim/TimTestUtils.java
  test/net/sourceforge/plantuml/tim/stdlib/SplitStrRegexTest.java
  test/net/sourceforge/plantuml/tim/stdlib/SplitStrTest.java
Labels: m:source, m:test

#1732 Improve `Chen diagram` management & Rename `%splitstrregex` to `%splitstr_regex`
  README.md
  src/net/sourceforge/plantuml/EmbeddedDiagram.java
  src/net/sourceforge/plantuml/syntax/LanguageDescriptor.java
  src/net/sourceforge/plantuml/tim/stdlib/SplitStrRegex.java
Labels: m:source, m:docs

#1736 Fix #1735 - Fix hiding some of multiple stereotypes in clusters (rectangles, packages, etc.)
  src/net/sourceforge/plantuml/svek/ClusterHeader.java
Labels: m:source

#1740 Add support for more common commands in Chen EER diagrams
  src/net/sourceforge/plantuml/cheneer/ChenEerDiagramFactory.java
  test/nonreg/simple/ChenRankDir_Test.java
  test/nonreg/simple/ChenRankDir_TestResult.java
Labels: m:source, m:test

#1742 feat: add new JSON builtin functions (`%str2json`, `%json_add` and `%json_remove`)
  src/net/sourceforge/plantuml/tim/TContext.java
  src/net/sourceforge/plantuml/tim/stdlib/JsonAdd.java
  src/net/sourceforge/plantuml/tim/stdlib/JsonRemove.java
  src/net/sourceforge/plantuml/tim/stdlib/Str2Json.java
  test/net/sourceforge/plantuml/tim/TimTestUtils.java
  test/net/sourceforge/plantuml/tim/stdlib/JsonAddTest.java
  test/net/sourceforge/plantuml/tim/stdlib/JsonRemoveTest.java
  test/net/sourceforge/plantuml/tim/stdlib/Str2JsonTest.java
Labels: m:source, m:test

#1757 fix: add `int` and `string` management on `%json_add`
  src/net/sourceforge/plantuml/tim/expression/TValue.java
  src/net/sourceforge/plantuml/tim/stdlib/JsonAdd.java
  test/net/sourceforge/plantuml/tim/TimTestUtils.java
  test/net/sourceforge/plantuml/tim/stdlib/JsonAddTest.java
Labels: m:source, m:test
