Repository plantuml/plantuml, pull requests merged in 2024-06, with the labels that each got.

#1802 Fixes for #269 and #591; alt else problems when used in parallel
  src/net/sourceforge/plantuml/sequencediagram/GroupingLeaf.java
  src/net/sourceforge/plantuml/sequencediagram/GroupingStart.java
  src/net/sourceforge/plantuml/sequencediagram/teoz/GroupingTile.java
  src/net/sourceforge/plantuml/sequencediagram/teoz/TileParallel.java
  test/nonreg/simple/TeozAltElseParallel_0001_Test.java
  test/nonreg/simple/TeozAltElseParallel_0001_TestResult.java
  test/nonreg/simple/TeozAltElseParallel_0002_Test.java
  test/nonreg/simple/TeozAltElseParallel_0002_TestResult.java
  test/nonreg/simple/TeozAltElseParallel_0003_Test.java
  test/nonreg/simple/TeozAltElseParallel_0003_TestResult.java
  test/nonreg/simple/TeozAltElseParallel_0004_Test.java
  test/nonreg/simple/TeozAltElseParallel_0004_TestResult.java
  test/nonreg/simple/TeozAltElseParallel_0005_Test.java
  test/nonreg/simple/TeozAltElseParallel_0005_TestResult.java
  test/nonreg/simple/TeozAltElseParallel_0006_Test.java
  test/nonreg/simple/TeozAltElseParallel_0006_TestResult.java
Labels: m:source, m:test

#1811 feat: add `atxt` and `utxt` on `@@@format`
  src/net/sourceforge/plantuml/Pipe.java
  test/net/sourceforge/plantuml/PipeTest.java
Labels: m:source, m:test

#1816 Fix parallel group active levels
  src/net/sourceforge/plantuml/sequencediagram/teoz/GroupingTile.java
  src/net/sourceforge/plantuml/sequencediagram/teoz/TileParallel.java
Labels: m:source

#1817 fixes for issue #344, Teoz and Puma fixes, plus a few verified nonreg TestResult changes
  src/net/sourceforge/plantuml/sequencediagram/AbstractMessage.java
  src/net/sourceforge/plantuml/sequencediagram/Participant.java
  src/net/sourceforge/plantuml/sequencediagram/graphic/DrawableSetInitializer.java
  src/net/sourceforge/plantuml/sequencediagram/graphic/LifeLine.java
  src/net/sourceforge/plantuml/sequencediagram/teoz/CommunicationTileSelf.java
  src/net/sourceforge/plantuml/sequencediagram/teoz/LiveBoxes.java
  src/net/sourceforge/plantuml/sequencediagram/teoz/Stairs.java
  test/nonreg/simple/SequenceArrows_0002_TestResult.java
  test/nonreg/simple/SequenceLeftMessageAndActiveLifeLines_0002_TestResult.java
Labels: m:source, m:test

#1823 feat: add support for [one-line] `title` to JSON diagram
  src/net/sourceforge/plantuml/jsondiagram/JsonDiagramFactory.java
  test/dev/Test_pending.java
Labels: m:source, m:test

#1826 Fix 1707
  gradle.properties
  src/net/sourceforge/plantuml/activitydiagram3/ActivityDiagram3.java
  src/net/sourceforge/plantuml/activitydiagram3/InstructionRepeat.java
  src/net/sourceforge/plantuml/activitydiagram3/command/CommandRepeat3.java
  src/net/sourceforge/plantuml/activitydiagram3/ftile/BoxStyle.java
  src/net/sourceforge/plantuml/activitydiagram3/ftile/FtileFactory.java
  src/net/sourceforge/plantuml/activitydiagram3/ftile/FtileFactoryDelegator.java
  src/net/sourceforge/plantuml/activitydiagram3/ftile/vcompact/FtileFactoryDelegatorRepeat.java
  src/net/sourceforge/plantuml/activitydiagram3/ftile/vcompact/VCompactFactory.java
  src/net/sourceforge/plantuml/activitydiagram3/ftile/vertical/FtileBox.java
  src/net/sourceforge/plantuml/version/Version.java
Labels: m:gradle, m:source, m:release

#1827 feat: math: add `newline` command for formatting
  src/net/sourceforge/plantuml/math/ASCIIMathTeXImg.java
  test/net/sourceforge/plantuml/math/ASCIIMathTeXImgUnitTest.java
Labels: m:source, m:test

#1831 feat: patch on `PlantUmlTestUtils` in order to have a better test API on diagram/description/...
  test/test/test/PlantUmlTestUtilsTest.java
  test/test/utils/PlantUmlTestUtils.java
Labels: m:test

#1833 Elk: Allow full style on arrows (except fontcolor)
  .gitignore
  src/net/sourceforge/plantuml/elk/ElkPath.java
Labels: m:source

#1829 docs: build jar file with PDF output support
  BUILDING.md
Labels: m:docs

#1842 fix for issue #1097
  src/net/sourceforge/plantuml/sequencediagram/teoz/CommonTile.java
  src/net/sourceforge/plantuml/sequencediagram/teoz/CommunicationExoTile.java
  src/net/sourceforge/plantuml/skin/Area.java
  src/net/sourceforge/plantuml/skin/rose/ComponentRoseArrow.java
  test/nonreg/simple/SequenceArrows_0001_TestResult.java
  test/nonreg/simple/SequenceArrows_0002_TestResult.java
Labels: m:source, m:test

#1843 - set RenderingHints.VALUE_FRACTIONALMETRICS_ON in DriverTextG2
  src/net/sourceforge/plantuml/FileFormat.java
  src/net/sourceforge/plantuml/klimt/drawing/g2d/DriverTextG2d.java
Labels: m:source
