Repository plantuml/plantuml, pull requests merged in 2024-11, with the labels that each got.

#1970 feat: feat: allow all JSON Values on JSON Entity
  src/net/sourceforge/plantuml/cucadiagram/TextBlockCucaJSon.java
  src/net/sourceforge/plantuml/objectdiagram/command/CommandCreateJsonSingleLine.java
Labels: m:source

#1976 fix: use latest graphviz version in docker image
  Dockerfile
Labels: m:docker

#1982 chore: revert e1c98cb to prepare next development cycle
  gradle.properties
  src/net/sourceforge/plantuml/version/Version.java
Labels: m:gradle, m:source, m:release

#1987 add `readme.md` for `stdlib` (Builtin function)
  src/net/sourceforge/plantuml/tim/stdlib/readme.md
Labels: m:source
