Repository plantuml/plantuml, pull requests merged in 2024-09, with the labels that each got.

#1897 Update `CHANGES.md`
  CHANGES.md
Labels: m:docs

#1900 fix: improve edge cases for JSON diagram (manage null and empty Array/Object)
  src/net/sourceforge/plantuml/jsondiagram/JsonDiagram.java
Labels: m:source

#1898 update gradle to gradle-8.10, which permits java-22, java-23.
  gradle/wrapper/gradle-wrapper.properties
Labels: m:gradle

#1901 ♻️ refactor: improve version, libraries, plugin management with gradle version catalog
  build.gradle.kts
  gradle/libs.versions.toml
  plantuml-asl/build.gradle.kts
  plantuml-bsd/build.gradle.kts
  plantuml-epl/build.gradle.kts
  plantuml-gplv2/build.gradle.kts
  plantuml-lgpl/build.gradle.kts
  plantuml-mit/build.gradle.kts
Labels: m:gradle

#1909 Add support for colors in Chen EER diagrams
  src/net/sourceforge/plantuml/cheneer/command/CommandAssociate.java
  src/net/sourceforge/plantuml/cheneer/command/CommandCreateAttribute.java
  src/net/sourceforge/plantuml/cheneer/command/CommandCreateEntity.java
  src/net/sourceforge/plantuml/cheneer/command/CommandMultiSubclass.java
  src/net/sourceforge/plantuml/cheneer/command/CommandSimpleSubclass.java
  test/nonreg/simple/ChenMovieExtended_Test.java
  test/nonreg/simple/ChenMovieExtended_TestResult.java
Labels: m:source, m:test

#1916 feat: add `overrideDirPath` method
  src/net/sourceforge/plantuml/Option.java
  src/net/sourceforge/plantuml/preproc/Defines.java
Labels: m:source

#1914 use latex to get string bounder
  src/net/atmp/ImageBuilder.java
  src/net/sourceforge/plantuml/FileFormat.java
  src/net/sourceforge/plantuml/LatexManager.java
  src/net/sourceforge/plantuml/TikzFontDistortion.java
  src/net/sourceforge/plantuml/UmlDiagram.java
  src/net/sourceforge/plantuml/klimt/drawing/tikz/UGraphicTikz.java
  src/net/sourceforge/plantuml/sudoku/GraphicsSudoku.java
  src/net/sourceforge/plantuml/tikz/TikzGraphics.java
Labels: m:source

#1918 chore(configure-workflow): use node20
  .github/actions/configure-workflow/action.yml
Labels: m:workflow

#1919 tikz: make all fonts with the same baseline
  src/net/sourceforge/plantuml/FileFormat.java
  src/net/sourceforge/plantuml/klimt/creole/Sea.java
  src/net/sourceforge/plantuml/klimt/creole/SheetBlock1.java
Labels: m:source

#1921 tikz: avoid latex manager crash for special characters
  src/net/sourceforge/plantuml/FileFormat.java
  src/net/sourceforge/plantuml/LatexManager.java
Labels: m:source

#1922 tikz: use the same protectText when calc dimension and render
  src/net/sourceforge/plantuml/FileFormat.java
  src/net/sourceforge/plantuml/LatexManager.java
  src/net/sourceforge/plantuml/klimt/creole/atom/AtomMath.java
  src/net/sourceforge/plantuml/klimt/font/StringBounderRaw.java
  src/net/sourceforge/plantuml/math/ScientificEquationSafe.java
  src/net/sourceforge/plantuml/tikz/TikzGraphics.java
Labels: m:source

#1923 tikz: optimize latex render for #1628
  src/net/sourceforge/plantuml/FileFormat.java
  src/net/sourceforge/plantuml/LatexManager.java
  src/net/sourceforge/plantuml/klimt/creole/Sea.java
  src/net/sourceforge/plantuml/klimt/creole/SheetBlock1.java
  src/net/sourceforge/plantuml/klimt/creole/atom/AtomMath.java
  src/net/sourceforge/plantuml/klimt/creole/legacy/AtomText.java
Labels: m:source, m:test

#1928 optimize tikz render
  src/net/sourceforge/plantuml/LatexManager.java
  src/net/sourceforge/plantuml/tikz/TikzGraphics.java
Labels: m:source

#1930 upd: uniformisation of `dirpath`
  src/net/sourceforge/plantuml/preproc/Defines.java
Labels: m:source
