Repository plantuml/plantuml, pull requests merged in 2024-05, with the labels that each got.

#1761 feat: add new JSON builtin function (`%json_set`)
  src/net/sourceforge/plantuml/tim/TContext.java
  src/net/sourceforge/plantuml/tim/stdlib/JsonSet.java
  test/net/sourceforge/plantuml/tim/TimTestUtils.java
  test/net/sourceforge/plantuml/tim/stdlib/JsonSetTest.java
Labels: m:source, m:test

#1763 feat: add new JSON builtin function (`%json_merge`)
  src/net/sourceforge/plantuml/tim/TContext.java
  src/net/sourceforge/plantuml/tim/stdlib/JsonMerge.java
  test/net/sourceforge/plantuml/tim/stdlib/JsonMergeTest.java
Labels: m:source, m:test

#1764 feat: add new JSON Object method (`deepMerge`) on plantuml/json
  src/net/sourceforge/plantuml/json/JsonObject.java
  test/net/sourceforge/plantuml/json/JsonObjectTest.java
Labels: m:source, m:test

#1767 fix: `ASCIIMathTeXImg.java` with a lot of corrections/enhancements
  src/net/sourceforge/plantuml/math/ASCIIMathTeXImg.java
  test/net/sourceforge/plantuml/math/ASCIIMathTeXImgUnitTest.java
  test/net/sourceforge/plantuml/math/MathTest.java
Labels: m:source, m:test

#1771 Fix for issue #728 titled "off by one errors" in text output
  src/net/sourceforge/plantuml/asciiart/ComponentTextActor.java
  src/net/sourceforge/plantuml/asciiart/ComponentTextParticipant.java
  src/net/sourceforge/plantuml/asciiart/ComponentTextSelfArrow.java
  src/net/sourceforge/plantuml/asciiart/ComponentTextShape.java
Labels: m:source

#1770 Fix #1768 Consider "hide stereotype" statement
  src/net/atmp/CucaDiagram.java
Labels: m:source

#1772 Add some non-regression tests for certain issues
  test/nonreg/BasicTest.java
  test/nonreg/simple/HideShow001_Test.java
  test/nonreg/simple/HideShow001_TestResult.java
  test/nonreg/simple/HideShow002_Test.java
  test/nonreg/simple/HideShow002_TestResult.java
  test/nonreg/simple/HideShow003_Test.java
  test/nonreg/simple/HideShow003_TestResult.java
  test/nonreg/simple/HideShow004_Test.java
  test/nonreg/simple/HideShow004_TestResult.java
  test/nonreg/simple/QualifiedAssoc001_Test.java
  test/nonreg/simple/QualifiedAssoc001_TestResult.java
  test/nonreg/simple/QualifiedAssoc002_Test.java
  test/nonreg/simple/QualifiedAssoc002_TestResult.java
Labels: m:gradle, m:test

#1773 Fixes Forum reported: Text arrow rendering in component diagrams seems partly broken
  src/net/sourceforge/plantuml/abel/Link.java
  src/net/sourceforge/plantuml/descdiagram/command/CommandLinkElement.java
Labels: m:source

#1774 Fixes issue plantuml#1746: (timing diagram) message labels ignore default style
  skin/plantuml.skin
  skin/rose.skin
  src/net/sourceforge/plantuml/timingdiagram/graphic/TimeArrow.java
Labels: m:source

#1775 Fixes issue #plantuml#1411: hyperlinkUnderline causes NumberFormatException
  src/net/sourceforge/plantuml/style/FromSkinparamToStyle.java
Labels: m:source

#1777 Fixes #1680, #1679, #839 and various other Sequence Diagram layout issues.
  src/net/sourceforge/plantuml/sequencediagram/graphic/ArrowAndNoteBox.java
  src/net/sourceforge/plantuml/sequencediagram/graphic/MessageSelfArrow.java
  src/net/sourceforge/plantuml/sequencediagram/graphic/Step1Abstract.java
  src/net/sourceforge/plantuml/sequencediagram/graphic/Step1Message.java
  src/net/sourceforge/plantuml/sequencediagram/teoz/CommunicationExoTile.java
  src/net/sourceforge/plantuml/sequencediagram/teoz/CommunicationTileSelf.java
  src/net/sourceforge/plantuml/sequencediagram/teoz/CommunicationTileSelfNoteLeft.java
  src/net/sourceforge/plantuml/sequencediagram/teoz/TileBuilder.java
  src/net/sourceforge/plantuml/skin/rose/ComponentRoseSelfArrow.java
Labels: m:source

#1780 Reverting the change to ArrowAndNoteBox made in pull request #1777
  src/net/sourceforge/plantuml/sequencediagram/graphic/ArrowAndNoteBox.java
Labels: m:source

#1781 Non-Regression Tests for my recent layout changes
  test/nonreg/simple/ComponentExtraArrows_0001_Test.java
  test/nonreg/simple/ComponentExtraArrows_0001_TestResult.java
  test/nonreg/simple/SequenceLayout_0001_Test.java
  test/nonreg/simple/SequenceLayout_0001_TestResult.java
  test/nonreg/simple/SequenceLayout_0001b_Test.java
  test/nonreg/simple/SequenceLayout_0001b_TestResult.java
  test/nonreg/simple/SequenceLayout_0001c_Test.java
  test/nonreg/simple/SequenceLayout_0001c_TestResult.java
  test/nonreg/simple/SequenceLayout_0002_Test.java
  test/nonreg/simple/SequenceLayout_0002_TestResult.java
  test/nonreg/simple/SequenceLayout_0003_Test.java
  test/nonreg/simple/SequenceLayout_0003_TestResult.java
  test/nonreg/simple/SequenceLayout_0004_Test.java
  test/nonreg/simple/SequenceLayout_0004_TestResult.java
  test/nonreg/simple/SequenceLayout_0005_Test.java
  test/nonreg/simple/SequenceLayout_0005_TestResult.java
  test/nonreg/simple/SequenceLayout_0005b_Test.java
  test/nonreg/simple/SequenceLayout_0005b_TestResult.java
  test/nonreg/simple/SequenceLayout_0006_Test.java
  test/nonreg/simple/SequenceLayout_0006_TestResult.java
  test/nonreg/simple/TimingMessageArrowFont_0001_Test.java
  test/nonreg/simple/TimingMessageArrowFont_0001_TestResult.java
  test/nonreg/simple/TimingMessageArrowFont_0002_Test.java
  test/nonreg/simple/TimingMessageArrowFont_0002_TestResult.java
Labels: m:test

#1782 feat: update JSON builtin function `%json_set` to allow setting of _object_ and _subsequent object_
  src/net/sourceforge/plantuml/tim/stdlib/JsonSet.java
  test/net/sourceforge/plantuml/tim/stdlib/JsonSetTest.java
Labels: m:source, m:test

#1784 fix: avoid variable side effects by adding `cloneMe` on some JSON builtin functions (`%json_merge`, `%json_remove`, `%json_set`)
  src/net/sourceforge/plantuml/tim/stdlib/JsonMerge.java
  src/net/sourceforge/plantuml/tim/stdlib/JsonRemove.java
  src/net/sourceforge/plantuml/tim/stdlib/JsonSet.java
Labels: m:source

#1786 docs: improve doc (JavaDoc, GH) [`package-info.java`, `readme.md`](for cheneer, golem, text and webp)
  src/net/sourceforge/plantuml/cheneer/package-info.java
  src/net/sourceforge/plantuml/cheneer/readme.md
  src/net/sourceforge/plantuml/golem/package-info.java
  src/net/sourceforge/plantuml/golem/readme.md
  src/net/sourceforge/plantuml/text/package-info.java
  src/net/sourceforge/plantuml/text/readme.md
  src/net/sourceforge/plantuml/webp/package-info.java
  src/net/sourceforge/plantuml/webp/readme.md
Labels: m:source

#1787 Fixes for issues #1678 and #1683 and Forum 14942left side self arrows
  src/net/sourceforge/plantuml/sequencediagram/command/CommandArrow.java
  src/net/sourceforge/plantuml/sequencediagram/graphic/MessageSelfArrow.java
  src/net/sourceforge/plantuml/sequencediagram/graphic/Step1Message.java
  src/net/sourceforge/plantuml/sequencediagram/teoz/CommunicationTile.java
  src/net/sourceforge/plantuml/sequencediagram/teoz/CommunicationTileSelf.java
  src/net/sourceforge/plantuml/skin/Area.java
  src/net/sourceforge/plantuml/skin/rose/ComponentRoseArrow.java
  src/net/sourceforge/plantuml/skin/rose/ComponentRoseSelfArrow.java
  test/nonreg/simple/SequenceArrows_0001_Test.java
  test/nonreg/simple/SequenceArrows_0001_TestResult.java
  test/nonreg/simple/SequenceArrows_0002_Test.java
  test/nonreg/simple/SequenceArrows_0002_TestResult.java
  test/nonreg/simple/SequenceLayout_0001_TestResult.java
  test/nonreg/simple/SequenceLayout_0001b_TestResult.java
  test/nonreg/simple/SequenceLayout_0001c_TestResult.java
  test/nonreg/simple/SequenceLayout_0002_TestResult.java
  test/nonreg/simple/SequenceLayout_0003_TestResult.java
  test/nonreg/simple/SequenceLayout_0005_TestResult.java
  test/nonreg/simple/SequenceLayout_0005b_TestResult.java
  test/nonreg/simple/SequenceLeftMessageAndActiveLifeLines_0001_Test.java
  test/nonreg/simple/SequenceLeftMessageAndActiveLifeLines_0001_TestResult.java
  test/nonreg/simple/SequenceLeftMessageAndActiveLifeLines_0002_Test.java
  test/nonreg/simple/SequenceLeftMessageAndActiveLifeLines_0002_TestResult.java
  test/nonreg/simple/SequenceLeftMessageAndActiveLifeLines_0003_Test.java
  test/nonreg/simple/SequenceLeftMessageAndActiveLifeLines_0003_TestResult.java
Labels: m:source, m:test

#1790 Fixes for several teoz active life line and parallel message issues
  src/net/sourceforge/plantuml/sequencediagram/AbstractMessage.java
  src/net/sourceforge/plantuml/sequencediagram/SequenceDiagram.java
  src/net/sourceforge/plantuml/sequencediagram/teoz/GroupingTile.java
  src/net/sourceforge/plantuml/sequencediagram/teoz/LiveBoxes.java
  test/nonreg/simple/TeozTimelineIssues_0001_Test.java
  test/nonreg/simple/TeozTimelineIssues_0001_TestResult.java
  test/nonreg/simple/TeozTimelineIssues_0002_Test.java
  test/nonreg/simple/TeozTimelineIssues_0002_TestResult.java
  test/nonreg/simple/TeozTimelineIssues_0003_Test.java
  test/nonreg/simple/TeozTimelineIssues_0003_TestResult.java
  test/nonreg/simple/TeozTimelineIssues_0004_Test.java
  test/nonreg/simple/TeozTimelineIssues_0004_TestResult.java
  test/nonreg/simple/TeozTimelineIssues_0005_Test.java
  test/nonreg/simple/TeozTimelineIssues_0005_TestResult.java
Labels: m:source, m:test

#1793 fixes for issues #656 and #1099, parallel messages with different text heights.
  src/net/sourceforge/plantuml/sequencediagram/teoz/GroupingTile.java
  src/net/sourceforge/plantuml/sequencediagram/teoz/TileParallel.java
  test/nonreg/simple/TeozTimelineIssues_0006_Test.java
  test/nonreg/simple/TeozTimelineIssues_0006_TestResult.java
  test/nonreg/simple/TeozTimelineIssues_0007_Test.java
  test/nonreg/simple/TeozTimelineIssues_0007_TestResult.java
  test/nonreg/simple/TeozTimelineIssues_0008_Test.java
  test/nonreg/simple/TeozTimelineIssues_0008_TestResult.java
Labels: m:source, m:test

#1799 fix for #1451 Block and Hexagonal Note Shapes on Message Notes
  src/net/sourceforge/plantuml/sequencediagram/teoz/CommunicationTileNoteLeft.java
  src/net/sourceforge/plantuml/sequencediagram/teoz/CommunicationTileNoteRight.java
  src/net/sourceforge/plantuml/sequencediagram/teoz/NoteTile.java
Labels: m:source

#1798 Update puml-theme-sunlust.puml
  themes/puml-theme-sunlust.puml
Labels: m:source

#1800 fix for #1789 "Group becomes too wide when containing activations"
  src/net/sourceforge/plantuml/sequencediagram/teoz/LifeEventTile.java
  test/nonreg/simple/TeozTimelineIssues_0009_Test.java
  test/nonreg/simple/TeozTimelineIssues_0009_TestResult.java
Labels: m:source, m:test

#1803 fix: minor regression on space instruction before deativation from #1790 changes
  src/net/sourceforge/plantuml/sequencediagram/teoz/LiveBoxes.java
Labels: m:source
