Repository plantuml/plantuml, pull requests merged in 2024-12, with the labels that each got.

#1995 Add floating participants header to interactive SVG sequence diagram
  build.gradle.kts
  src/net/atmp/ImageBuilder.java
  src/net/sourceforge/plantuml/klimt/UGroupType.java
  src/net/sourceforge/plantuml/klimt/drawing/svg/SvgGraphics.java
  src/net/sourceforge/plantuml/klimt/drawing/svg/UGraphicSvg.java
  src/net/sourceforge/plantuml/sequencediagram/graphic/Arrow.java
  src/net/sourceforge/plantuml/sequencediagram/graphic/ArrowAndNoteBox.java
  src/net/sourceforge/plantuml/sequencediagram/graphic/ArrowAndParticipant.java
  src/net/sourceforge/plantuml/sequencediagram/graphic/DrawableSet.java
  src/net/sourceforge/plantuml/sequencediagram/graphic/DrawableSetInitializer.java
  src/net/sourceforge/plantuml/sequencediagram/graphic/GraphicalDelayText.java
  src/net/sourceforge/plantuml/sequencediagram/graphic/GraphicalDivider.java
  src/net/sourceforge/plantuml/sequencediagram/graphic/GraphicalElement.java
  src/net/sourceforge/plantuml/sequencediagram/graphic/GraphicalElementLiveEvent.java
  src/net/sourceforge/plantuml/sequencediagram/graphic/GraphicalHSpace.java
  src/net/sourceforge/plantuml/sequencediagram/graphic/GraphicalNewpage.java
  src/net/sourceforge/plantuml/sequencediagram/graphic/GraphicalReference.java
  src/net/sourceforge/plantuml/sequencediagram/graphic/GroupingGraphicalElementElse.java
  src/net/sourceforge/plantuml/sequencediagram/graphic/GroupingGraphicalElementHeader.java
  src/net/sourceforge/plantuml/sequencediagram/graphic/GroupingGraphicalElementTail.java
  src/net/sourceforge/plantuml/sequencediagram/graphic/LifeDestroy.java
  src/net/sourceforge/plantuml/sequencediagram/graphic/LivingParticipantBox.java
  src/net/sourceforge/plantuml/sequencediagram/graphic/MessageArrow.java
  src/net/sourceforge/plantuml/sequencediagram/graphic/MessageExoArrow.java
  src/net/sourceforge/plantuml/sequencediagram/graphic/MessageSelfArrow.java
  src/net/sourceforge/plantuml/sequencediagram/graphic/NoteBox.java
  src/net/sourceforge/plantuml/sequencediagram/graphic/NotesBoxes.java
  src/net/sourceforge/plantuml/sequencediagram/graphic/ParticipantBox.java
  src/net/sourceforge/plantuml/sequencediagram/graphic/SequenceDiagramFileMakerPuma2.java
  src/net/sourceforge/plantuml/sequencediagram/graphic/SequenceDiagramTxtMaker.java
  src/net/sourceforge/plantuml/skin/Pragma.java
  src/net/sourceforge/plantuml/sudoku/GraphicsSudoku.java
  src/net/sourceforge/plantuml/swing/FontChecker.java
  svg/default.js
  svg/onmouseinteractivefooter.css
  svg/onmouseinteractivefooter.js
  svg/sequencediagram.css
  svg/sequencediagram.js
  test/nonreg/svg/SVG0001_Test.java
  test/nonreg/svg/SVG0002_Test.java
  test/nonreg/svg/SvgTest.java
Labels: m:gradle, m:source, m:test

#2007 👷 Native: create Native Image Release automatically after JAR Release / disable Native Image Snapshot
  .github/workflows/ci.yml
  .github/workflows/native-image-release.yml
  .github/workflows/native-image-snapshot.yml
Labels: m:workflow, m:native

#2009 Add possibility to use custom graphviz implementation
  src/net/sourceforge/plantuml/dot/GraphvizUtils.java
Labels: m:source

#2012 Add possibility to create Graphviz instance using service factory
  src/net/sourceforge/plantuml/dot/GraphvizFactory.java
  src/net/sourceforge/plantuml/dot/GraphvizUtils.java
Labels: m:source

#2013 Add possibility to create Graphviz instance using service factory
  src/net/sourceforge/plantuml/dot/GraphvizFactory.java
  src/net/sourceforge/plantuml/dot/GraphvizUtils.java
Labels: m:source

#2015 📝 change `Graphviz instance` to `Graphviz implementation` on javadoc
  src/net/sourceforge/plantuml/dot/GraphvizFactory.java
Labels: m:source
