Repository plantuml/plantuml, pull requests merged in 2024-02, with the labels that each got.

#1668 feat: Improve new `Random` function
  src/net/sourceforge/plantuml/tim/TContext.java
  src/net/sourceforge/plantuml/tim/stdlib/RandomFunction.java
Labels: m:source

#1669 Improve `Chronology diagram` management
  README.md
  src/net/sourceforge/plantuml/EmbeddedDiagram.java
  src/net/sourceforge/plantuml/syntax/LanguageDescriptor.java
Labels: m:source, m:docs

#1673 feat: `Random` function: add test and private declaration
  src/net/sourceforge/plantuml/tim/stdlib/RandomFunction.java
  test/net/sourceforge/plantuml/tim/stdlib/RandomFuntionTest.java
Labels: m:source, m:test

#1677 Add files via upload
  themes/puml-theme-sunlust.puml
Labels: m:source

#1684 fix: update graphviz version check pattern
  src/net/sourceforge/plantuml/dot/GraphvizUtils.java
  src/net/sourceforge/plantuml/dot/GraphvizVersionFinder.java
Labels: m:source

#1681 add Description
  themes/puml-theme-sunlust.puml
Labels: m:source

#1687 docs: fix links _(due to emoji)_
  BUILDING.md
Labels: m:docs

#1686 refactor: Create `test/utils` directory and `CommandHelpThemeTest` on a more accurate folder
  test/net/sourceforge/plantuml/LoadJsonTest.java
  test/net/sourceforge/plantuml/TestFileDirOption.java
  test/net/sourceforge/plantuml/help/CommandHelpThemeTest.java
  test/net/sourceforge/plantuml/tim/stdlib/FeatureTest.java
  test/net/sourceforge/plantuml/tim/stdlib/GetJsonKeyTest.java
  test/net/sourceforge/plantuml/tim/stdlib/GetJsonTypeTest.java
  test/net/sourceforge/plantuml/tim/stdlib/LowerTest.java
  test/net/sourceforge/plantuml/tim/stdlib/SizeTest.java
  test/net/sourceforge/plantuml/tim/stdlib/UpperTest.java
  test/net/sourceforge/plantuml/tim/stdlib/_TemplateStdlibTest.template
  test/test/example/TestExample.java
  test/test/utils/ImageTestUtils.java
  test/test/utils/ImageTestUtilsTest.java
  test/test/utils/JunitUtils.java
  test/test/utils/PlantUmlTestUtils.java
  test/test/utils/StringTestUtils.java
  test/test/utils/TestUtils.java
Labels: m:source, m:test

#1689 feat: add `%get_all_theme` builtin function
  src/net/sourceforge/plantuml/tim/TContext.java
  src/net/sourceforge/plantuml/tim/stdlib/GetAllTheme.java
  test/net/sourceforge/plantuml/tim/stdlib/GetAllThemeTest.java
Labels: m:source, m:test

#1691 fix: suppress `@[start|end]uml` on `sunlust` theme
  themes/puml-theme-sunlust.puml
Labels: m:source

#1692 tests: add not working example about stdlib
  test/net/sourceforge/plantuml/tim/EaterTest.java
Labels: m:test

#1693 docs: add "PlantUML package and PlantUML on the GNU/Linux distribution" page [skip ci]
  docs/PACKAGE_AND_DISTRIBUTION.md
Labels: m:docs

#1696 feat: add `%get_all_stdlib` builtin function
  src/net/sourceforge/plantuml/preproc/Stdlib.java
  src/net/sourceforge/plantuml/tim/TContext.java
  src/net/sourceforge/plantuml/tim/stdlib/GetAllStdlib.java
  test/net/sourceforge/plantuml/tim/stdlib/GetAllStdlibTest.java
Labels: m:source, m:test
