Repository plantuml/plantuml, pull requests merged in 2024-08, with the labels that each got.

#1868 Native image build
  .github/workflows/native-image.yml
  plantuml-gplv2/build.gradle.kts
Labels: m:workflow, m:gradle, m:native

#1882 fix: make `native` release as `snapshot` release
  .github/workflows/native-image.yml
Labels: m:workflow, m:native

#1883 Fixes headless build
  .github/workflows/native-image.yml
  plantuml-gplv2/build.gradle.kts
Labels: m:workflow, m:gradle, m:native

#1885 upd: improve Native Action for Snapshot
  .github/workflows/native-image-snapshot.yml
Labels: m:workflow

#1886 upd and fix: Improve Native Image Snapshot and JAR Snapshot
  .github/labeler.yml
  .github/scripts/release-snapshot.sh
  .github/workflows/native-image-snapshot.yml
Labels: m:workflow
