Repository plantuml/plantuml, pull requests merged in 2024-07, with the labels that each got.

#1847 fix: allow JsonValue on key for the `%json_key_exists` builtin function
  src/net/sourceforge/plantuml/tim/stdlib/JsonKeyExists.java
  test/net/sourceforge/plantuml/tim/stdlib/JsonKeyExistsTest.java
Labels: m:source, m:test

#1851 fixes #1850: PDF support broken with other gradle build file changes
  build.gradle.kts
Labels: m:gradle

#1858 refactor: of `ApiV2Test` with `AssertJ` and `CsvSource`
  test/test/test/ApiV2CsvTest.java
Labels: m:test

#1861 remove duplicate items in help message
  src/net/sourceforge/plantuml/OptionPrint.java
Labels: m:source

#1863 Added background color to arrows and draw background for circles
  skin/plantuml.skin
  skin/rose.skin
  src/net/sourceforge/plantuml/skin/rose/AbstractComponentRoseArrow.java
  src/net/sourceforge/plantuml/skin/rose/ComponentRoseArrow.java
  src/net/sourceforge/plantuml/skin/rose/ComponentRoseSelfArrow.java
  test/nonreg/simple/SequenceArrows_0001_TestResult.java
  test/nonreg/simple/SequenceArrows_0002_TestResult.java
  test/nonreg/simple/SequenceLeftMessageAndActiveLifeLines_0002_TestResult.java
  test/nonreg/simple/TeozTimelineIssues_0007_TestResult.java
Labels: m:source, m:test

#1865 feat: add builtin function `%mod` (modulo operator)
  src/net/sourceforge/plantuml/tim/TContext.java
  src/net/sourceforge/plantuml/tim/stdlib/Modulo.java
  test/net/sourceforge/plantuml/tim/stdlib/ModuloTest.java
Labels: m:source, m:test
