Repository plantuml/plantuml, pull requests merged in 2025-05, with the labels that each got.

#2172 💄 Improve destroy using style and suppress redundant parameter
  src/main/java/net/sourceforge/plantuml/sequencediagram/LifeEventType.java
  src/main/java/net/sourceforge/plantuml/sequencediagram/graphic/DrawableSetInitializer.java
  src/main/java/net/sourceforge/plantuml/sequencediagram/teoz/LifeEventTile.java
  src/main/java/net/sourceforge/plantuml/skin/ComponentType.java
  src/main/java/net/sourceforge/plantuml/skin/rose/ComponentRoseDestroy.java
  src/main/java/net/sourceforge/plantuml/skin/rose/Rose.java
  src/main/resources/skin/plantuml.skin
  src/test/java/nonreg/simple/TeozTimelineIssues_0009_TestResult.java
Labels: m:source

#2178 test: add some unit tests of `tim/builtin` functions
  src/test/java/net/sourceforge/plantuml/tim/builtin/GetVariableValueTest.java
  src/test/java/net/sourceforge/plantuml/tim/builtin/SetVariableValueTest.java
  src/test/java/net/sourceforge/plantuml/tim/builtin/StringFunctionTest.java
  src/test/java/net/sourceforge/plantuml/tim/builtin/StrlenTest.java
  src/test/java/net/sourceforge/plantuml/tim/builtin/VariableExistsTest.java
Labels: m:source

#2184 🐛allow hyphen (`-`) on [Activity] stereotype style
  src/main/java/net/sourceforge/plantuml/activitydiagram3/command/CommandActivity3.java
Labels: m:source

#2186 👷 add jacoco, and add jacoco report on website deployement
  .github/workflows/ci.yml
  build.gradle.kts
Labels: m:workflow, m:gradle

#2185 ✨ add new Activity UML Shape _(and corresponding javadoc)_
  src/main/java/net/sourceforge/plantuml/activitydiagram3/ftile/BoxStyle.java
Labels: m:source

#2187 📝fix javadoc URL and add link to jacoco
  CHANGES.md
  README.md
  docs/SUPPORT.md
Labels: m:docs

#2188 🐛 no `checkOldVersionWarning` if `beta` version
  src/main/java/net/sourceforge/plantuml/crash/ReportLog.java
  src/main/java/net/sourceforge/plantuml/error/PSystemError.java
Labels: m:source

#2192 #2137 Adding UT coverage to EvalMath.java
  src/main/java/net/sourceforge/plantuml/preproc/EvalMath.java
  src/test/java/net/sourceforge/plantuml/preproc/EvalMathTest.java
Labels: m:gradle, m:source

#2200 👷 add a gradle test task to run 'IntermediateTest'
  build.gradle.kts
Labels: m:gradle

#2198 💄 allow linecolor style on goto lines
  src/main/java/net/sourceforge/plantuml/activitydiagram3/ActivityDiagram3.java
  src/main/java/net/sourceforge/plantuml/activitydiagram3/ftile/Swimlanes.java
  src/main/java/net/sourceforge/plantuml/activitydiagram3/ftile/TextBlockInterceptorUDrawable.java
  src/main/java/net/sourceforge/plantuml/activitydiagram3/ftile/UGraphicInterceptorUDrawable2.java
  src/main/java/net/sourceforge/plantuml/preproc/OptionKey.java
  src/main/java/net/sourceforge/plantuml/style/SName.java
Labels: m:source
