Repository plantuml/plantuml, pull requests merged in 2025-03, with the labels that each got.

#2106 👷 Fix naming of the snapshot native images (SNAPSHOT)
  .github/workflows/native-image-snapshot.yml
Labels: m:workflow, m:native

#2113 fixes a hardcoded path in metadata generation task
  .github/workflows/native-image-snapshot.yml
Labels: m:workflow, m:native

#2114 Updating paths for test runs again, adding foreign functions support
  .github/workflows/native-image-snapshot.yml
  plantuml-gplv2/build.gradle.kts
Labels: m:workflow, m:gradle, m:native

#2124 Group link qualifiers (kals) with their edges
  src/main/java/net/sourceforge/plantuml/svek/SvekEdge.java
  src/main/java/net/sourceforge/plantuml/svek/SvekResult.java
  src/test/java/nonreg/svg/SVG0006_Svek_Test.java
Labels: m:source

#2117 📝 upd `CHANGES.md` according to v1.2025.2
  CHANGES.md
Labels: m:docs

#2132 👷 add "Intermediate Test" github action
  .github/workflows/intermediate-test.yml
  src/test/java/dev/IntermediateTest_0000.java
Labels: m:workflow, m:source

#2139 🚸 add <<object>> as synonymous of <<task>> on Box style of Activity diagram
  src/main/java/net/sourceforge/plantuml/activitydiagram3/ftile/BoxStyle.java
Labels: m:source

#2141 ✅ add more unit tests: `colors builtin functions`, `strpos`, `substr`, `date`
  src/test/java/net/sourceforge/plantuml/tim/TimTestUtils.java
  src/test/java/net/sourceforge/plantuml/tim/builtin/DarkenTest.java
  src/test/java/net/sourceforge/plantuml/tim/builtin/DateFunctionTest.java
  src/test/java/net/sourceforge/plantuml/tim/builtin/HslColorTest.java
  src/test/java/net/sourceforge/plantuml/tim/builtin/IsDarkTest.java
  src/test/java/net/sourceforge/plantuml/tim/builtin/IsLightTest.java
  src/test/java/net/sourceforge/plantuml/tim/builtin/LightenTest.java
  src/test/java/net/sourceforge/plantuml/tim/builtin/ReverseColorTest.java
  src/test/java/net/sourceforge/plantuml/tim/builtin/ReverseHsluvColorTest.java
  src/test/java/net/sourceforge/plantuml/tim/builtin/StrposTest.java
  src/test/java/net/sourceforge/plantuml/tim/builtin/SubstrTest.java
Labels: m:source
