Repository plantuml/plantuml, pull requests merged in 2025-01, with the labels that each got.

#2025 Update license.txt, fix copyright license year
  license.txt
Labels: m:license

#2024 Display participant name when hovering over lifeline
  src/net/sourceforge/plantuml/StringUtils.java
  src/net/sourceforge/plantuml/klimt/UGroupType.java
  src/net/sourceforge/plantuml/klimt/drawing/svg/SvgGraphics.java
  src/net/sourceforge/plantuml/sequencediagram/graphic/DrawableSetInitializer.java
  src/net/sourceforge/plantuml/sequencediagram/graphic/LifeLine.java
  src/net/sourceforge/plantuml/sequencediagram/graphic/Step1Message.java
  src/net/sourceforge/plantuml/skin/rose/ComponentRoseActiveLine.java
  src/net/sourceforge/plantuml/skin/rose/ComponentRoseLine.java
  src/net/sourceforge/plantuml/skin/rose/Rose.java
  test/nonreg/simple/A0000_TestResult.java
  test/nonreg/simple/A0001_TestResult.java
  test/nonreg/simple/A0006_TestResult.java
  test/nonreg/simple/SequenceArrows_0001_TestResult.java
  test/nonreg/simple/SequenceArrows_0002_TestResult.java
  test/nonreg/simple/SequenceLayout_0001_TestResult.java
  test/nonreg/simple/SequenceLayout_0001b_TestResult.java
  test/nonreg/simple/SequenceLayout_0001c_TestResult.java
  test/nonreg/simple/SequenceLayout_0002_TestResult.java
  test/nonreg/simple/SequenceLayout_0003_TestResult.java
  test/nonreg/simple/SequenceLayout_0004_TestResult.java
  test/nonreg/simple/SequenceLayout_0005_TestResult.java
  test/nonreg/simple/SequenceLayout_0005b_TestResult.java
  test/nonreg/simple/SequenceLayout_0006_TestResult.java
  test/nonreg/simple/SequenceLeftMessageAndActiveLifeLines_0001_TestResult.java
  test/nonreg/simple/SequenceLeftMessageAndActiveLifeLines_0002_TestResult.java
  test/nonreg/simple/SequenceLeftMessageAndActiveLifeLines_0003_TestResult.java
  test/nonreg/simple/TeozAltElseParallel_0001_TestResult.java
  test/nonreg/simple/TeozAltElseParallel_0002_TestResult.java
  test/nonreg/simple/TeozAltElseParallel_0003_TestResult.java
  test/nonreg/simple/TeozAltElseParallel_0004_TestResult.java
  test/nonreg/simple/TeozAltElseParallel_0005_TestResult.java
  test/nonreg/simple/TeozAltElseParallel_0006_TestResult.java
  test/nonreg/simple/TeozTimelineIssues_0001_TestResult.java
  test/nonreg/simple/TeozTimelineIssues_0002_TestResult.java
  test/nonreg/simple/TeozTimelineIssues_0003_TestResult.java
  test/nonreg/simple/TeozTimelineIssues_0004_TestResult.java
  test/nonreg/simple/TeozTimelineIssues_0005_TestResult.java
  test/nonreg/simple/TeozTimelineIssues_0006_TestResult.java
  test/nonreg/simple/TeozTimelineIssues_0007_TestResult.java
  test/nonreg/simple/TeozTimelineIssues_0008_TestResult.java
  test/nonreg/simple/TeozTimelineIssues_0009_TestResult.java
  test/nonreg/svg/SVG0001_Test.java
  test/nonreg/svg/SvgTest.java
Labels: m:source, m:test

#2030 fix for guillemotright latex error
  src/net/sourceforge/plantuml/tikz/TikzGraphics.java
Labels: m:source

#2034 Typo refactor
  CHANGES.md
  src/net/sourceforge/plantuml/activitydiagram3/ActivityDiagram3.java
  src/net/sourceforge/plantuml/activitydiagram3/ftile/GotoInterceptor.java
  src/net/sourceforge/plantuml/activitydiagram3/ftile/vcompact/UGraphicInterceptorOneSwimlane.java
Labels: m:source, m:docs

#2049 feat: Add support for custom XMI generation
  src/net/sourceforge/plantuml/FileFormat.java
  src/net/sourceforge/plantuml/Option.java
  src/net/sourceforge/plantuml/ant/PlantUmlTask.java
  src/net/sourceforge/plantuml/xmi/CucaDiagramXmiMaker.java
  src/net/sourceforge/plantuml/xmi/XmiClassDiagramCustom.java
  src/net/sourceforge/plantuml/xmi/XmiCucaDiagramCustom.java
  src/net/sourceforge/plantuml/xmi/XmiDescriptionDiagramCustom.java
  src/net/sourceforge/plantuml/xmi/XmiStateDiagramCustom.java
Labels: m:source

#2052 💡 add YAML frontmatter (with metadata) on all theme files
  themes/puml-theme-_none_.puml
  themes/puml-theme-amiga.puml
  themes/puml-theme-aws-orange.puml
  themes/puml-theme-black-knight.puml
  themes/puml-theme-bluegray.puml
  themes/puml-theme-blueprint.puml
  themes/puml-theme-carbon-gray.puml
  themes/puml-theme-cerulean-outline.puml
  themes/puml-theme-cerulean.puml
  themes/puml-theme-cloudscape-design.puml
  themes/puml-theme-crt-amber.puml
  themes/puml-theme-crt-green.puml
  themes/puml-theme-cyborg-outline.puml
  themes/puml-theme-cyborg.puml
  themes/puml-theme-hacker.puml
  themes/puml-theme-lightgray.puml
  themes/puml-theme-mars.puml
  themes/puml-theme-materia-outline.puml
  themes/puml-theme-materia.puml
  themes/puml-theme-metal.puml
  themes/puml-theme-mimeograph.puml
  themes/puml-theme-minty.puml
  themes/puml-theme-mono.puml
  themes/puml-theme-plain.puml
  themes/puml-theme-reddress-darkblue.puml
  themes/puml-theme-reddress-darkgreen.puml
  themes/puml-theme-reddress-darkorange.puml
  themes/puml-theme-reddress-darkred.puml
  themes/puml-theme-reddress-lightblue.puml
  themes/puml-theme-reddress-lightgreen.puml
  themes/puml-theme-reddress-lightorange.puml
  themes/puml-theme-reddress-lightred.puml
  themes/puml-theme-sandstone.puml
  themes/puml-theme-silver.puml
  themes/puml-theme-sketchy-outline.puml
  themes/puml-theme-sketchy.puml
  themes/puml-theme-spacelab-white.puml
  themes/puml-theme-spacelab.puml
  themes/puml-theme-sunlust.puml
  themes/puml-theme-superhero-outline.puml
  themes/puml-theme-superhero.puml
  themes/puml-theme-toy.puml
  themes/puml-theme-united.puml
  themes/puml-theme-vibrant.puml
Labels: m:source

#2056 Checking if the start of the multiline is not the last line
  src/net/sourceforge/plantuml/yaml/YamlLines.java
Labels: m:source
