Repository plantuml/plantuml, pull requests merged in 2025-02, with the labels that each got.

#2060 Removed unused imports
  src/net/atmp/CucaDiagram.java
  src/net/sourceforge/plantuml/EmbeddedDiagram.java
  src/net/sourceforge/plantuml/activitydiagram/ActivityDiagram.java
  src/net/sourceforge/plantuml/activitydiagram3/ActivityDiagramFactory3.java
  src/net/sourceforge/plantuml/activitydiagram3/ftile/vertical/FtileDiamondWIP.java
  src/net/sourceforge/plantuml/activitydiagram3/gtile/GtileCircleSpot.java
  src/net/sourceforge/plantuml/activitydiagram3/gtile/GtileCircleStart.java
  src/net/sourceforge/plantuml/board/BoardDiagram.java
  src/net/sourceforge/plantuml/bpm/BpmDiagram.java
  src/net/sourceforge/plantuml/cheneer/ChenEerDiagram.java
  src/net/sourceforge/plantuml/cheneer/ChenEerDiagramFactory.java
  src/net/sourceforge/plantuml/chronology/ChronologyDiagram.java
  src/net/sourceforge/plantuml/classdiagram/AbstractEntityDiagram.java
  src/net/sourceforge/plantuml/command/PSystemCommandFactory.java
  src/net/sourceforge/plantuml/compositediagram/CompositeDiagram.java
  src/net/sourceforge/plantuml/descdiagram/DescriptionDiagramFactory.java
  src/net/sourceforge/plantuml/ebnf/EbnfEngine.java
  src/net/sourceforge/plantuml/ebnf/PSystemEbnf.java
  src/net/sourceforge/plantuml/ebnf/TextBlockable.java
  src/net/sourceforge/plantuml/filesdiagram/FilesDiagram.java
  src/net/sourceforge/plantuml/gitlog/GitDiagram.java
  src/net/sourceforge/plantuml/help/Help.java
  src/net/sourceforge/plantuml/jsondiagram/JsonDiagram.java
  src/net/sourceforge/plantuml/mindmap/MindMapDiagram.java
  src/net/sourceforge/plantuml/nwdiag/NwDiagram.java
  src/net/sourceforge/plantuml/objectdiagram/AbstractClassOrObjectDiagram.java
  src/net/sourceforge/plantuml/project/GanttDiagram.java
  src/net/sourceforge/plantuml/regexdiagram/PSystemRegex.java
  src/net/sourceforge/plantuml/salt/PSystemSalt.java
  src/net/sourceforge/plantuml/sequencediagram/SequenceDiagram.java
  src/net/sourceforge/plantuml/sequencediagram/SequenceDiagramFactory.java
  src/net/sourceforge/plantuml/statediagram/StateDiagram.java
  src/net/sourceforge/plantuml/svek/GroupMakerActivity.java
  src/net/sourceforge/plantuml/svek/InnerStateAutonom.java
  src/net/sourceforge/plantuml/svek/image/EntityImageActivity.java
  src/net/sourceforge/plantuml/svek/image/EntityImageBranch.java
  src/net/sourceforge/plantuml/text/StringLocated.java
  src/net/sourceforge/plantuml/tim/TimLoader.java
  src/net/sourceforge/plantuml/timingdiagram/TimingDiagram.java
  src/net/sourceforge/plantuml/warning/JawsWarning.java
  src/net/sourceforge/plantuml/wbs/WBSDiagram.java
  src/net/sourceforge/plantuml/wire/WireDiagram.java
  src/net/sourceforge/plantuml/xmi/XmiCucaDiagramCustom.java
Labels: m:source

#2066 💡 Theme YAML header: remove `origin` field, fix typo, add license, minor changes
  themes/puml-theme-amiga.puml
  themes/puml-theme-aws-orange.puml
  themes/puml-theme-black-knight.puml
  themes/puml-theme-bluegray.puml
  themes/puml-theme-blueprint.puml
  themes/puml-theme-carbon-gray.puml
  themes/puml-theme-cerulean-outline.puml
  themes/puml-theme-cerulean.puml
  themes/puml-theme-cloudscape-design.puml
  themes/puml-theme-crt-amber.puml
  themes/puml-theme-crt-green.puml
  themes/puml-theme-cyborg-outline.puml
  themes/puml-theme-cyborg.puml
  themes/puml-theme-hacker.puml
  themes/puml-theme-lightgray.puml
  themes/puml-theme-mars.puml
  themes/puml-theme-materia-outline.puml
  themes/puml-theme-materia.puml
  themes/puml-theme-metal.puml
  themes/puml-theme-mimeograph.puml
  themes/puml-theme-minty.puml
  themes/puml-theme-mono.puml
  themes/puml-theme-plain.puml
  themes/puml-theme-reddress-darkblue.puml
  themes/puml-theme-reddress-darkgreen.puml
  themes/puml-theme-reddress-darkorange.puml
  themes/puml-theme-reddress-darkred.puml
  themes/puml-theme-reddress-lightblue.puml
  themes/puml-theme-reddress-lightgreen.puml
  themes/puml-theme-reddress-lightorange.puml
  themes/puml-theme-reddress-lightred.puml
  themes/puml-theme-sandstone.puml
  themes/puml-theme-silver.puml
  themes/puml-theme-sketchy-outline.puml
  themes/puml-theme-sketchy.puml
  themes/puml-theme-spacelab-white.puml
  themes/puml-theme-spacelab.puml
  themes/puml-theme-sunlust.puml
  themes/puml-theme-superhero-outline.puml
  themes/puml-theme-superhero.puml
  themes/puml-theme-toy.puml
  themes/puml-theme-united.puml
  themes/puml-theme-vibrant.puml
Labels: m:source

#2077 👷 add `Linux ARM64 native image` on `Native Image - Snapshot`
  .github/workflows/native-image-snapshot.yml
Labels: m:workflow, m:native

#2078 👷 fix `Linux ARM64` native image on `Native Image - Snapshot`
  .github/workflows/native-image-snapshot.yml
Labels: m:workflow, m:native

#2072 Revert SVG fill to "none"; use UParam to indicate hit targets
  src/net/sourceforge/plantuml/klimt/color/HColor.java
  src/net/sourceforge/plantuml/klimt/color/HColorSimple.java
  src/net/sourceforge/plantuml/klimt/color/HColors.java
  src/net/sourceforge/plantuml/klimt/drawing/svg/DriverRectangleSvg.java
  src/net/sourceforge/plantuml/klimt/drawing/svg/SvgGraphics.java
  src/net/sourceforge/plantuml/skin/rose/ComponentRoseLine.java
  test/nonreg/svg/SVG0001_Test.java
  test/nonreg/svg/SVG0002_Test.java
  test/nonreg/svg/SVG0003_Test.java
Labels: m:source, m:test

#2079 Render entity names as SVG attributes; consolidate interactive JS/CSS
  src/net/sourceforge/plantuml/klimt/UGroupType.java
  src/net/sourceforge/plantuml/klimt/drawing/svg/SvgGraphics.java
  src/net/sourceforge/plantuml/klimt/drawing/svg/UGraphicSvg.java
  src/net/sourceforge/plantuml/sdot/SmetanaEdge.java
  src/net/sourceforge/plantuml/svek/SvekEdge.java
  src/net/sourceforge/plantuml/svek/image/EntityImageBranch.java
  src/net/sourceforge/plantuml/svek/image/EntityImageClass.java
  src/net/sourceforge/plantuml/svek/image/EntityImageDescription.java
  src/net/sourceforge/plantuml/svek/image/EntityImageLollipopInterface.java
  src/net/sourceforge/plantuml/svek/image/EntityImageMap.java
  src/net/sourceforge/plantuml/svek/image/EntityImageNote.java
  src/net/sourceforge/plantuml/svek/image/EntityImageObject.java
  src/net/sourceforge/plantuml/svek/image/EntityImageUseCase.java
  svg/README.md
  svg/default.css
  svg/default.js
  svg/onmouseinteractivefooter.css
  svg/onmouseinteractivefooter.js
  test/nonreg/svg/GraphvizRequiredTestFilter.java
  test/nonreg/svg/SVG0002_Test.java
  test/nonreg/svg/SVG0004_Smetana_Test.java
  test/nonreg/svg/SVG0004_Svek_Test.java
  test/nonreg/svg/SvekSvgTest.java
  test/nonreg/svg/SvgTest.java
Labels: m:source, m:test

#2087 📝 upd `CHANGES.md` according to v1.2025.1
  CHANGES.md
Labels: m:docs

#2086 Make component ports interactive
  src/net/sourceforge/plantuml/svek/image/EntityImagePort.java
  test/nonreg/svg/SVG0005_Smetana_Test.java
  test/nonreg/svg/SVG0005_Svek_Test.java
Labels: m:source, m:test

#2088 💄 update handwritten themes in order to avoid warning
  themes/puml-theme-sketchy-outline.puml
  themes/puml-theme-sketchy.puml
Labels: m:source

#2091 Add filtering to interactive sequence diagrams
  svg/sequencediagram.css
  svg/sequencediagram.js
Labels: m:source

#2097 Support C4 on native image
  plantuml-gplv2/build.gradle.kts
Labels: m:gradle

#2101 💄 Allow old skinparam (`stereotypeXBackgroundColor/BorderColor`) for new spot style
  src/net/sourceforge/plantuml/style/FromSkinparamToStyle.java
Labels: m:source
